*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

/* header and navigation */
#header{
    display: flex;
}

#login{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 200px;

   
}
#login li{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    float: left;
    list-style: none;
    margin-left: 10px;
}
#login li a{
    text-decoration: none;
    color:aliceblue;
    background-color: blue;
    padding: 10px;
    border-radius: 20px;
}


#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 40px;
    

}
#navbar li {
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    list-style: none;
    margin-top: 10px;
    margin-left: 40px;
   
}
#navbar li a{
    text-decoration: none;
    margin-left: 40px;
    color: black;
}
/* END */

/* Hero and home page */
#hero{
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    
}
pre{
    display: flex;
    align-items: center;
    justify-content: center;
}
#hero-page h1{
    display: flex;
    width: 337px;
    flex-direction: column;
    color: #141414;
    font-size: 40px;
    font-family: Gilroy-Bold;
    line-height: 48px;  
    background: #F9FBFD;
}
#different h1{
    margin-left: 420px;
    margin-top: 40px;
}
#cards{
    display: flex;
    align-items: center;
    justify-self: center;
    float: left;
    margin-left: 250px;
    margin-top: 60px;
}
#card{
    background: rgb(255, 255, 255);
    height: 320px;
    width:250px;
    padding: 30px;
    border-radius: 9px;
    color: rgb(0, 0, 0);
    text-align: left;
    border: 1px solid lightblue;
}
#card-2{
    background: rgb(38, 36, 46);
    height: 350px;
    width: 300px;
    padding: 30px;
    border-radius: 9px;
    color: rgb(254, 254, 254);
    text-align: left;
    border: 1px solid lightblue;
}
#card-3{
    background: rgb(255, 255, 255);
    height: 320px;
    width: 270px;
    padding: 30px;
    border-radius: 9px;
    color: rgb(0, 0, 0);
    text-align: left;
    border: 1px solid lightblue;
    
}
#form{
    display: flex;
    box-sizing: border-box;
    margin-top: 300px;
    margin-right: 400px;
    margin-left: 450px;
    
}
#flex,label,span{
    color: blue;
}
.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 350px;
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    position: relative;
  }
  
  .title {
    font-size: 28px;
    color: royalblue;
    font-weight: 600;
    letter-spacing: -1px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 30px;
  }
  
  .title::before,.title::after {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    border-radius: 50%;
    left: 0px;
    background-color: royalblue;
  }
  
  .title::before {
    width: 18px;
    height: 18px;
    background-color: royalblue;
  }
  
  .title::after {
    width: 18px;
    height: 18px;
    animation: pulse 1s linear infinite;
  }
  
  .message, .signin {
    color: rgba(88, 87, 87, 0.822);
    font-size: 14px;
  }
  
  .signin {
    text-align: center;
  }
  
  .signin a {
    color: royalblue;
  }
  
  .signin a:hover {
    text-decoration: underline royalblue;
  }
  
  .flex {
    display: flex;
    width: 100%;
    gap: 6px;
  }
  
  .form label {
    position: relative;
  }
  
  .form label .input {
    width: 100%;
    padding: 10px 10px 20px 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 10px;
  }
  
  .form label .input + span {
    position: absolute;
    left: 10px;
    top: 15px;
    color: grey;
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
  }
  
  .form label .input:placeholder-shown + span {
    top: 15px;
    font-size: 0.9em;
  }
  
  .form label .input:focus + span,.form label .input:valid + span {
    top: 30px;
    font-size: 0.7em;
    font-weight: 600;
  }
  
  .form label .input:valid + span {
    color: green;
  }
  
  .submit {
    border: none;
    outline: none;
    background-color: rgb(8, 51, 181);
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    transform: .3s ease;
  }
  
  .submit:hover {
    background-color: rgb(56, 90, 194);
  }
  
  @keyframes pulse {
    from {
      transform: scale(0.9);
      opacity: 1;
    }
  
    to {
      transform: scale(1.8);
      opacity: 0;
    }
  }
  #btn{
    display: flex;
    box-sizing: border-box;
    margin-top: 400px;
    margin-left: 0;
    
  }
  .air{
    border: 1px solid black;
    height: 50px;
    border-right: none;
    border-left: none;
}
.urls h1{
     margin-left: 400px;
     margin-top: 60px;
}
.urls h2{
  margin-top: 60px;
}
.urls{
    width: 100%;
    height: 900px;
    outline: solid green;
    outline: none;
    margin-left: 180px;
}
.air{
    display: inline-flex;
    width: 80%;
}
#link{
  background-color: midnightblue;
  padding: 60px;
}
#link h1{
  margin-left: 380px;
  color: white;

}
#link button{
  margin-left: 570px;
  margin-top: 20px;
  padding: 10px;
  border-radius: 12px;
  background-color: rgb(15, 93, 203);
  border: none;
 color: white;
}
footer {
  background-color: #f2f2f2;
  padding: 20px 0;
  color: #666;
  font-size: 14px;
  text-align: center;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  height: 50px;
}

footer{
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
}
footer .col{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}
footer .logo{
  margin-bottom: 30px;
}
footer h4{
  font-size: 20px;
  padding-bottom: 20px;
  font-family: 'Times New Roman', Times, serif;
}
footer p{
  font-size: 13px;
  margin: 0 0 8px 0;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  line-height: 20px;
}
footer a{
  font-size: 13px;
  text-decoration: none;
  color: #565151;
  margin-bottom: 10px;
  font-weight:bold ;
  font-family: 'Times New Roman', Times, serif;
  margin-right: 3px;
}

.boom{
  display: inline-flex;
  height: 180px;
  width: 100%;
  outline:solid blue;
   outline: none; 
}
.jet{
  width: 30%;
  height: 70px;
  margin: 5px;
  outline: solid blue;
  text-align: center;
  outline: none;
}
.set{
  width: 30%;
  height: 220px;
  margin: 70px;
  outline: solid red;
  outline: none;
  /* text-align: center; */
  
}
.booom{
  display: inline-flex;
  height: 300px;
  width: 100%;
  outline:solid blue;
  outline: none; 
}
.sets{
  width: 30%;
  height: 220px;
  margin: 70px;
  outline: solid red;
  outline: none;
  /* text-align: center; */   
}
.setss{
  width: 30%;
  height: 180px;
  margin: 70px;
  visibility: hidden;
  outline: solid red;
  outline: none;
  /* text-align: center; */   
}